<% provide :titulo, :"Lista de categorías de productos" %>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="hero-unit">
        <h1>Listado por categorías</h1>
      </div>
    </div>
    <div class="row">
    <% @categorias.each_with_index do |categoria,i| %>
      <% if (i != 0) && (i % 4 == 0) %>
        <div class="row">
      <% end %>
        <div class="span3 categoria-lista">
        <h4 class="nombre-categoria"><%= link_to categoria.nombre, categoria %></h4>
        <% if categoria.foto %>
          <%= link_to((image_tag categoria.foto.imagen.url(:thumb), class: :"main-foto"), categoria) %>
        <% else %>
          <%= link_to(default_foto(:thumb), categoria) %>
        <% end %>
        </div>
      <% if (i != 0) && (i % 4 == 0) %>
        </div>
      <% end %>
    <% end %>    
    </div>
  </div>
</div>
<% if identificado? && usuario_actual.admin %>
  <hr>
  <div class="acciones">
    <%= link_to :'Crear una nueva categoría', new_categoria_path %>
  </div>
<% end %>    
