<% provide :titulo, :"Crear nueva categoría" %>
<h1>Crear nueva categoría</h1>

<%= form_for(@categoria) do |f| %>

  <%= render 'form', form: f %>

  <div class="actions">
    <%= f.submit "Crear categoría", class: "btn btn-info btn-large boton-formulario" %>
  </div>

<% end %>

<%= link_to 'Cancelar', categorias_path %>