<% provide(:titulo, :Tienda) %>

  <div class="row">
    <div class="hero-unit">
      <h1> Nuestros productos </h1>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <% @productos.each_with_index do |producto,i| %>
      <% if (i != 0) && (i % 4 == 0) %>
        <div class="row">
      <% end %>
      <%= render 'productos/item_lista', producto: producto %>
      <% if (i != 0) && (i % 4 == 0) %>
        </div>
      <% end %>
    <% end %>    
  </div>

  <%= will_paginate %>
  <hr>
  <% if identificado? && usuario_actual.admin %>
    <div class="acciones">
      <%= link_to "Nuevo producto", new_producto_path %>
      | <%= link_to "Nueva categoria", new_categoria_path %>
    </div>
  <% end %>
