<% provide :titulo, :"Crear nuevo producto" %>
<h1>Crear nuevo producto</h1>

<%= form_for(@producto) do |f| %>

  <%= render partial: 'form', locals: { form: f, producto: @producto } %>

  <div class="actions">
    <%= f.submit "Crear nuevo producto", class: "btn btn-info btn-large boton-formulario" %>
  </div>
<% end %>

<%= link_to 'Cancelar', productos_path %>