<% provide(:titulo, "Registrate, es muy facil!") %>
<h1>Regístrate</h1>

<div class="row">
  <div class="span7">

      <%= render 'form' %>
      
  </div>
  <div class="span5">
    Aqui va una imagen que invite a registrarse
  </div>
</div>