<% provide(:titulo, "Registrate, es muy facil!") %>
<div class="row">
  <div class="span4">
    <section>
      <h1>Regístrate</h1>

      <%= render 'form' %>
      
    </section>
  </div>
  <div class="span8">
    Aqui va una imagen que invite a registrarse
  </div>
</div>