<% provide(:titulo, "Registrate, ¡es muy facil!") %>
<h1>Regístrate</h1>

<div class="row">
  <div class="span7">

      <%= render 'form' %>
      
  </div>
  <div class="span5">
    <a href="/auth/facebook" title="Conectar con facebook" class="conectar-con-facebook"><img src="/images/logo-fb-220.png" alt="Conectar con facebook" /></a>
  </div>
</div>