<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>¿Has olvidado tu contraseña?</h1>
    <p>
      No te preocupes, puedes recuperar tu sesión ingresando al siguiente link:
    </p>
    <p>
      <%= link_to olvide_contrasena_url(u: @usuario.id, token: @usuario.token), olvide_contrasena_url(u: @usuario.id, token: @usuario.token) %>.
    </p>
    <p>El vínculo expira el <%= l @usuario.fecha_token, format: "%d de %B de %Y a las %I:%M %P" %>.</p>
    <p>Si el enlace no funciona, copialo y pégalo en la barra de tu navegador</p>
    <p>Que tengas un feliz dia!</p>
  </body>
</html>
