$break-large: 979px;
$break-middle: 767px;
body{
  background: url('/images/backgrounds/bg7.jpg');
}
footer{
  font-size:0.9em;
  text-align:right;
  font-style:italic;
}
ul.dropdown-menu form{
  padding: 10px;
  margin:0;
}
li.boton{
  text-align:center;
  @media screen and (max-width: $break-large) {
    text-align:left;
    padding-top:5px;
  }  
  .btn-small{
    margin-top:0;
  }
}
li.normal{
  font-size:0.9em;
  a{
    display: inline;
    padding: 0;
    white-space: normal;
  }
}
div.marca{
  text-align:right;
  @media screen and (max-width: $break-middle) {
    text-align:left;
  }
}
form input{
  max-width:100%;
}
.centrado{
  text-align:center
}
ul.lista{
  list-style-type:none;
}
div.detalle-post{
  .contenido{
    padding:1em 0.5em;
  }
}
.no-publicado{
  font-style:italic;
  color:red;
}
form {
  input[type="text"].ancho, textarea.ancho {
    width: 90%;
  }
  span.etiqueta{
    height:20px;
    padding-right:2em;
  }
}
.etiquetas span a{
  color:white;
}
a.remove_fields{
  color:red;
  padding-left: 0.5em;
  font-size:1.2em;
}
div.row.categoria-item, fieldset.campo, #imagenes div.foto{
  border:1px solid black;
  border-radius: 4px;
  padding: 1em 1em 0em;
  margin-top: 1em;
  div.nombre-categoria{
    text-align:center;
    padding-bottom:1em;
    span.nombre-categoria{
      font-size:1.2em;
      font-weight:bold;
    }
  }
}
#informacion-basica{
  input, textarea {
    width:auto;
    max-width:95%;
  }
}
.obligatorio label{
  font-weight:bold;
}
.actions{
  margin:0 auto;
  text-align: center;
}
a.add_fields{
  margin-top:1em;
}
#imagenes div.fotico{
  float:left;
  margin-bottom:1em;
}
.brand{
  font-family:"Snowburst One", Calibri, Candara, Arial, sans-serif;
}
.precio-centenas {
  vertical-align:super;
  font-size:0.8em;
}
.precio-antes {
  .contenedor-antes{
    position: relative;
    .tachado{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:2;
    }
  } 
}
.precio{
  font-size:1.2em;
}
.precio-producto{
  margin:1em;
  padding:1em;
  border:1px solid #ddd;
  border-radius:1em;
  font-size:1.2em;
  text-align: center;
}
.main-foto{
  clear:both;
  text-align: center;
  display:block;
}
.foto img{
  max-width:100%;
  padding:0.5em;
  margin:0.3em;
}
.categoria-lista, .categoria-lista img, .producto-lista, .producto-lista img {
    text-align: center;
    margin:0 auto;
    a.btn{
      margin-top: 1em;
    }
}
.imagen-categoria{
  float:left;
}
.carrito{
  margin:1em auto;
  text-align:center;
}
.top{
  background: url('/images/backgrounds/bg6.jpg');
  background-repeat:repeat;
  padding:5em 0 1em 0;
  @media screen and (max-width: $break-large) {
    padding-top:0px;
  }
}
.bottom{
  background: url('/images/backgrounds/bg7.jpg');
  color:#DDF;
  padding-top:1em;
  ul li{
    list-style-type:none;
    text-align: center;
    a{
      color:#DDF;
    }
  }
}
.middle{
  background-color:gray;
  width:110%;
  height: 3em;
}
.info-post{
  font-size:0.9em;
  font-style:italic;
}

@media screen and (max-width: $break-middle) {
  .top, .bottom, .middle{
    margin-left: -20px;
    margin-right: -20px;
    padding:1em;
  }
  .social-post div{
    padding-top:1em;
    margin:0 auto;
    display: block;
    width: 100px;
  }
}
h4.ver-mas{text-align:center;}

table.carrito {
  td{
    padding: 1em;
  }
  td.cantidad input{
    width: 3em;
    margin-bottom:0;
  }
}