<div class="row">
  <div class="hero-unit">
    <h1>Bienvenido a la nueva Chiquitienda</h1>
  </div>
</div>
<div class="row">
  <div class="span6 productos">
    <div class="span6"><h3 style="color: #0066cc;text-align: center;">Productos destacados</h3></div>
    <div class="row">
    <% @productos.each do |producto| %>
      <%= render 'productos/item_lista', producto: producto %>
    <% end %>
    </div>
    <h4 class="ver-mas"><%= link_to :"Ver más productos", productos_path %></h4>
  </div>
  <div class="span6 posts">
    <div class="span6"><h3 style="color: #0066cc;text-align: center;">Últimos artículos</h3></div>
    <% @posts.each do |post| %>
      <%= render 'posts/item_lista', post: post %>
    <% end %>
    <h4 class="ver-mas"><%= link_to :"Ver más posts", posts_path %></h4>
  </div>
</div>